body{
    text-align: center;

}
h1{
    font-family: 'Sofia'; font-size: 40px;
}

#board{
    /* border: 3px solid black; */
    display: inline-block;
    padding: 2px;
    /* margin-top: 200px */
}

.fondo{
    margin: 0 auto;
    width: 80%;
    height: 800px;
    background-color: #D0E4E7;
    background-image: url("../img/fondo.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}
.row{
    font-size: 0;
}

.column{
    display: inline-block;
    width: 50px;
    height: 50px;
    /* background-color: #D5DBDB;
     */
    background: url("../img/cell.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee;
    padding: 2px;
    vertical-align: top;
    color: black;
    font-size: 20px;
    line-height: 50px;
    transition: all 1.0s;
}

/* mobile app */
@media  screen and (min-height: 480px) and (max-width: 600px)  {
    .column{
        width: 30px;
        height: 30px;
    }
}
/* mobile app -min */
@media  screen and (min-height: 480px) and (max-width: 390px)  {
    .column{
        width: 18px;
        height: 18px;
    }
}



 .column.hidden{
     /* background-color: #148F77 ; */
     background-image: url("../img/cell_hidden.png");
     background-repeat:no-repeat;
     background-position: center center;
     background-size: 100%;
     cursor: pointer;
 }
 .column.hidden.mine{
    /* background-color: red; */
    background: url("../img/cell_hidden.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
    /*  */
}



 .column.mine.mine_icon{
    background: url("../img/mine.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
 }

.column.number_1{
    background: url("../img/cell_1.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}
.column.number_2{
    background: url("../img/cell_2.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}
.column.number_3{
    background: url("../img/cell_3.png") no-repeat;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-position: center top, center bottom, center center;
    background-size: 100%;
}

.ocultar{
    display: none;
}
.column.hidden.flag{
    background: url("../img/flag.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}

/* .header{

    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    margin: 0 auto;
    background: url("../img/header.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;

} */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;;
    background: url("../img/footer.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
}

#cerrar{
    position:fixed;
    top:3px;
    left: 18px;
    font-family:sans-serif;
    font-size:40px;
    background:black;
    color:white;
    width:55px;
    height:85px;
    line-height:60px;
    cursor:pointer;
    background: url("../img/backbutton.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
  }
#minesNumber{
    position:fixed;
    right: 18px;
    top: 3px;
    font-family:sans-serif;
    font-size:22px;
    background:black;
    color:black;
    width:70px;
    height:85px;
    line-height:77px;
    cursor:pointer;
    background: url("../img/score.png") no-repeat;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100%;
  }